{% extends "base.html" %}
{% load static %}

{% block title %}Hive Mind Powerball{% endblock %}

{% block header %}
<h1 class="header">Hive Mind <span class="powerball">Powerball</span></h1>
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row hive-ticket">
      <div class="six columns">
        <h4><strong>Hive Ticket:</strong></h4>
      </div>
      <div class="six columns">
        <h4 id="golden-ticket" class="numbers">{{ golden_ticket.0 }}<span class="powerball">{{ golden_ticket.1 }}</span></h4>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h4>Add Drone Ticket</h4>
        <div id="form-errors"></div>
        <div>
          <form action="/ticket/add/" method="POST" id="ticket-form">
            {% csrf_token %}
            {{ form }}
            <button class="btn add-ticket">Add Ticket</button>
          </form>
        </div>
      </div>

      <div class="six columns">
		<h4>Drone Tickets</h4>
		<table id="drone-table">
		  <thead>
			<tr>
			  {% for header in drones.headers %}
			    <th>{{ header }}</th>
			  {% endfor %}
			</tr>
		  </thead>
		  <tbody>
			{% for value in drones.rows %}
			  <tr>    
			    <td>{{ value.0 }}</td>
                <td class="numbers">{{ value.1.0 }}<span class="powerball">{{value.1.1 }}</span></td>
			  </tr>
			{% endfor %}
		  </tbody>
		</table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src={% static "js/csrf.js" %}></script>
    <script type="text/javascript" src={% static "js/ticket.js" %}></script>
{% endblock %}
